/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  background-color: #ccc;
  font-family: "Helvetica neue", Arial, "sans serif";
  font-size: 10px;
}

/* Selectors to be matched up with rulesets */

/* specificity: 0,5,4? */
.card article img      
/* specificity: 0, 5, 4? */
.card footer
/* specificity: 11? */
.card header
/* specificity: 11? */
.card
/* specificity: 10? */

/* Rulesets to be matched up with selectors */

.card {
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
  height: 22em;
  margin: 5em auto;
  width: 35em;
}

.card header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 1.5em 1.5em 0 0;
}

.card footer {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  border-radius: 0 0 1.5em 1.5em;
}

.card article img {
  float: right;
  max-height: 100%;
}

.card header,
.card footer {
  padding: 1em;
  height: 2em;
}

.card header h2,
.card article p {
  margin: 0;
}

.card article {
  height: 12em;
  background-color: rgba(0, 0, 0, 0.5);
}

.card header h2 {
  line-height: 3;
}

.card article p {
  font-size: 1.5em;
  padding: 0 1em;
}
